* {
  box-sizing: border-box;
  border: 0;
  margin: 0;
  padding: 0;
}
body {
  background: rgb(5, 78, 161);
  font: normal 1rem arial;
}

h1 {
  margin: 1rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  color: white;
}

section {
  background-color: white;
  width: 600px;
  padding: 0.5rem 1rem 0 1rem;
  margin: 0 auto;
  border-radius: 5px;
  box-shadow: 3px 3px 3px rgb(0, 0, 0, 0.5);
}

.res {
  text-align: center;
  margin: 1rem auto;
}

label{
  display: block;
  margin-bottom: 0.5rem;
  padding-bottom: 0.5rem;
}
input {
  border: 1px solid gray;
  border-radius: 2px;
  height: 1.2rem;
}

.button{
  border: 1px solid gray;
  border-radius: 3px;
  padding: 0 1rem;
  margin-bottom: 0.2rem;
  font-size: 1rem;
  height: 1.2rem;
}
